{% extends 'base.html.twig' %}

{% block body %}
    {# Layout for PDF files #}
    <div>
        {% block content %}

            <p>This is the PDF content.</p>

            <figure>
                <img src="https://i.ebayimg.com/images/g/ROMAAOSwGvhT~nAx/s-l300.jpg" alt="">
                <figcaption>A picture with an absolute URL</figcaption>
            </figure>

        {% endblock %}
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="{{ absolute_url(asset('css/pdf.min.css')) }}" rel="stylesheet" type="text/css">
{% endblock %}