
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" height="50" alt="">
    </a>



    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto green-text">
            <li class="nav-item active">
                <a class="nav-link green-text" {% if activeAccueil is defined %} active {% endif %} href="/">Accueil
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" {% if activeEntreprise is defined %} active {% endif %} href="/entreprise">Entreprise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" {% if activeVousEtes is defined %} active {% endif %} href="/vousetes">Vous-êtes ?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" {% if activeContact is defined %} active {% endif %} href="/contact">Contact</a>
            </li>




        </ul>
        <!-- Links -->


            <form class="form-inline my-1">
                <div class="md-form form-sm my-0">
                    <input class="form-control form-control-sm mr-sm-2 mb-0 green-text" type="text" placeholder="Chercher" aria-label="Search">
                </div>
                <button class="btn btn-outline-green btn-sm my-0 " type="submit">Chercher</button>
            </form>
        <a href="/login"><button class="btn btn-outline-green btn-md my-2 my-sm-0 ml-3 "  type="submit"><i class="fa fa-user " aria-hidden="true"></i></button></a>

    </div>

    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->