<div>
    <form class="form-inline ">
        <div class="ml-auto">
            <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Search" aria-label="Search">
        </div>
        <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
        <a href=""><i class="fa fa-user" aria-hidden="true"></i> login</a>
    </form>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="/images/logo-caldex.svg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link {% if activeAccueil is defined %} active {% endif %}" href="/accueil">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if activeEntreprise is defined %} active {% endif %}" href="/entreprise">Entreprise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if activeVousEtes is defined %} active {% endif %}" href="/vousetes">Vous-êtes ?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if activeContact is defined %} active {% endif %}" href="/contact">Contact</a>
            </li>
    </div>
</nav>