<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('build/main_admin.css') }}">
    <link rel="stylesheet" href="{{ asset('build/head_admin.css') }}">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script> <!-- Package d'icons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-xs-1 p-l-0 p-r-0 collapse in" id="sidebar">
            <div class="list-group panel">
                {% if is_granted('ROLE_ADMIN') %}
                <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">Gestion des utilisateurs</span> </a>
                <div class="collapse" id="menu1">
                    <a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Copropriété </a>
                    <div class="collapse" id="menu1sub1">
                        <a href="#" class="list-group-item" data-parent="#menu1sub1">Création</a>
                        <a href="#" class="list-group-item" data-parent="#menu1sub1">Modification</a>
                    </div>
                    <a href="#menu1sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">Syndicat </a>
                    <div class="collapse" id="menu1sub2">
                        <a href="#" class="list-group-item" data-parent="#menu1sub2">Création</a>
                        <a href="#" class="list-group-item" data-parent="#menu1sub2">Modification</a>
                    </div>
                    <a href="#menu1sub3" class="list-group-item" data-toggle="collapse" aria-expanded="false">Association de copropriété </a>
                    <div class="collapse" id="menu1sub3">
                        <a href="#" class="list-group-item" data-parent="#menu1sub3">Création</a>
                        <a href="#" class="list-group-item" data-parent="#menu1sub3">Modification</a>
                    </div>
                    <a href="#menu1sub4" class="list-group-item" data-toggle="collapse" aria-expanded="false">Propriétaire </a>
                    <div class="collapse" id="menu1sub4">
                        <a href="#" class="list-group-item" data-parent="#menu1sub4">Création</a>
                        <a href="#" class="list-group-item" data-parent="#menu1sub4">Modification</a>
                    </div>
                    <a href="#menu1sub5" class="list-group-item" data-toggle="collapse" aria-expanded="false">Locataire </a>
                    <div class="collapse" id="menu1sub5">
                        <a href="#" class="list-group-item" data-parent="#menu1sub5">Création</a>
                        <a href="#" class="list-group-item" data-parent="#menu1sub5">Modification</a>
                    </div>
                </div>
                <a href="/profile_user" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="hidden-sm-down">Informations personnelles </span></a>
                <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Gestion du parc immobilier </span></a>
                <div class="collapse" id="menu3">
                    <a href="#" class="list-group-item" data-parent="#menu3">Créer un nouvel immeuble</a>
                    <a href="#" class="list-group-item" data-parent="#menu3">Créer un nouveau lot</a>
                    <a href="#" class="list-group-item" data-parent="#menu3">Créer une nouvelle pièce</a>
                </div>
                    <a href="#menu4" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">Matériel</span> </a>
                    <div class="collapse" id="menu4">
                        <a href="#menu4sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Compteur </a>
                        <div class="collapse" id="menu4sub1">

                            <a href="#menu4sub1sub1" class="list-group-item" data-toggle="collapse"  aria-expanded="false">Type de compteur </a>

                            <div class="collapse" id="menu4sub1sub1">
                                    <a href="#" class="list-group-item" data-parent="#menu4sub1sub1">Subitem 5 e.1</a>
                                    <a href="#" class="list-group-item" data-parent="#menu4sub1sub1">Subitem 5 e.2</a>
                                </div>
                            <a href="#" class="list-group-item" data-parent="#menu4sub1">Fournisseurs</a>
                            <a href="#" class="list-group-item" data-parent="#menu4sub1">Mesures</a>
                        </div>
                    </div>

            </div>
            {% endif %}
            {% if is_granted('ROLE_ASSOCOPRO') %}
            <a href="/profile_user" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="hidden-sm-down">Informations personnelles </span></a>
            <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i><span class="hidden-sm-down">Consultation du Parc immobilier </span></a>
            <div class="collapse" id="menu2">
                <a href="#" class="list-group-item" data-parent="#menu2">Consultation Immeuble</a>
                <a href="#" class="list-group-item" data-parent="#menu2">Consultation Lot</a>
                <a href="#" class="list-group-item" data-parent="#menu2">Consultation Pièce</a>
            </div>
            <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Gestion des Consommations</span></a>
            <div class="collapse" id="menu3">
                <a href="#" class="list-group-item" data-parent="#menu3">Consommation par Immeuble</a>
                <a href="#" class="list-group-item" data-parent="#menu3">Consommation par Lot</a>
                <a href="#" class="list-group-item" data-parent="#menu3">Consommation par Pièce</a>
            </div>
            <a href="#menu4" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Gestion des Collaborateurs</span></a>
            <div class="collapse" id="menu4">
                <a href="#" class="list-group-item" data-parent="#menu3">Création d'un collaborateur</a>
                <a href="#" class="list-group-item" data-parent="#menu3">Consultation des collaborateurs</a>
            </div>
            <a href="#menu5" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Gestion des Propriétaires/Locataires</span></a>
            <div class="collapse" id="menu5">
                <a href="#" class="list-group-item" data-parent="#menu5">Création d'un Propriétaire/Locataire</a>
                <a href="#" class="list-group-item" data-parent="#menu5">Consultation des Propriétaires/Locataires</a>
            </div>
        </div>
            {% endif %}


            {% if is_granted('ROLE_SYNDICAT') %}
            <a href="/profile_user" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="hidden-sm-down">Informations personnelles </span></a>
            <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Gestion du Parc Immobilier </span></a>
            <div class="collapse" id="menu2">
                <a href="#" class="list-group-item" data-parent="#menu2">Consultation Immeuble</a>
                <a href="#" class="list-group-item" data-parent="#menu2">Consultation Lot</a>
                <a href="#" class="list-group-item" data-parent="#menu2">Consultation Pièce</a>
            </div>
            <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Gestion des Consommations </span></a>
            <div class="collapse" id="menu3">
                <a href="#" class="list-group-item" data-parent="#menu3">Consommation Syndic</a>
                <a href="#" class="list-group-item" data-parent="#menu3">Consommation Immeuble</a>
                <a href="#" class="list-group-item" data-parent="#menu3">Consommation Lot</a>
                <a href="#" class="list-group-item" data-parent="#menu3">Consommation Pièce</a>
            </div>
            <a href="#menu4" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Gestion des Collaborateurs </span></a>
            <div class="collapse" id="menu4">
                <a href="#" class="list-group-item" data-parent="#menu4">Création d'un Collaborateur</a>
                <a href="#" class="list-group-item" data-parent="#menu4">Consultation des Collaborateurs</a>
            </div>
            <a href="#menu5" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Gestion des Propriétaires/Locataires </span></a>
            <div class="collapse" id="menu5">
                <a href="#" class="list-group-item" data-parent="#menu5">Création d'un Propriétaire/Locataire</a>
                <a href="#" class="list-group-item" data-parent="#menu5">Consultation des Propriétaires/Locataires</a>
            </div>

        </div>
        {% endif %}
    {% if is_granted('ROLE_LOCATAIRE') %}
    <a href="/profile_user" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="hidden-sm-down">Informations personnelles </span></a>
    <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Mes Consommations </span></a>
    <div class="collapse" id="menu2">
        <a href="#" class="list-group-item" data-parent="#menu2">Consommation en Eau</a>
        <a href="#" class="list-group-item" data-parent="#menu2">Consommation Calorifique</a>
    </div>

</div>
{% endif %}
        </div>
        <main class="col-md-9 col-xs-11 p-l-2 p-t-2">
            <a href="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-lg"></i></a>
            <hr>
            {% block body %}{% endblock %}
        </main>
    </div>
</div>



{% block fos_user_content %}{% endblock %}

<!-- JQuery maps -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=en-AU"></script>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>

{% block javascripts %}
    <script src="{{ asset('build/header.js') }}"></script>
{% endblock %}

<footer>
</footer>
</body>
</html>
