footer, footer>a, footer>h6, footer>hr{
  background-color: #ADFF2F;
  color: #7c3900;
}

.navbar{
  background-color: #ADFF2F;
}

li>a, li>a:hover, a, a:hover{
  font-size: 25px;
  color: #973900;
}

form > a, form > a:hover{
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.active {
  border-bottom: 2px solid #973900;
  padding-bottom: 3px;
}

p{
  text-align: justify;
}
.entreprise{
  width: 90%;
  margin-bottom: 150px;

  h1{
    text-align: center;
    margin-bottom: 5vw;
  }
}

.article{
  padding: 0 1vw 0 1vw;
}
