$color-foncer: #006633;
$color-claire: #93c01f;

footer, footer>a, footer>h6, footer>hr{
  background-color: #e7e093;
}

.gris-color {
    color: #6f757d;
}

h1, h2, h3,h4,h5,h6{
  color: $color-foncer;
}

#myBtn {

  position: fixed;
  bottom: 15px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: $color-claire;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;

}
#myBtn:hover {
  background-color: transparent;
  color:$color-foncer;
}


.new{

  font-size: 1em;
  border: none;
  outline: none;
  background-color: $color-claire;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;

}
.new:hover {
  background-color: $color-foncer;
}

.modif{

  font-size: 1em;
  border: none;
  outline: none;
  background-color: #edcc1e;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;

}
.modif:hover {
  background-color: #bb9e1a;
}

.supp{

  font-size: 1em;
  border: none;
  outline: none;
  background-color: #ff1c2b;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;

}
.supp:hover {
  background-color: #98151b;
}


.contact-form{
  display: none;
}

.syndic{
  display: none;
}

.residence{
  display: none;
}
.card-body.contact.text-center.h-100.white-text {
  -webkit-border-radius: 0 .25rem .25rem 0;
  border-radius: 0 .25rem .25rem 0;
  background-color: #e7e093;
}
.contact-section .contact {
  background-color:$color-foncer !important;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 8px) !important;
}
#nom_id,#prenom_id,#telephone_id,#email_id,#adresse_id,#nom_valid,#prenom_valid,#email_valid,#telephone_valid{
  display: none;
}

#username{
  border-bottom-color: $color-claire;
  width: 40%;
}
#resetMdp {
  margin-bottom: 10%;
  margin-top: 10%;
}
#envoiMailMdp{
  margin-bottom: 18%;
  margin-top: 10%;
}
#changeMdp{
  margin-bottom: 18%;
  margin-top: 10%;
}

footer {
  margin-top: 150px;
  p, h6, .linkFooter {
    color: $color-foncer;
    .linkFooter {
      color: $color-foncer;
      text-decoration: none;
    }

  }
}

.jumbotron{
  background-color: rgba(248,248,250, 0.8)  !important;
}

.text-muted {
  color: #373933 !important;
}
.input-group-text {
  color: white !important;
  background: #93c01f !important;
}
#test {
  color: $color-foncer;
}
#people {
  position: relative;
  margin: 80px auto;
  padding: 0;
  width: 480px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  list-style-type: none;
}
#people li {
  position: relative;
  margin: 0 0 40px 0;
  padding: 10px 8px 8px 54px;
  height: 80px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), inset 0 1px 0 #ffffff;
  background: #f6f6f6;
}
#people li img {
  position: absolute;
  top: -16px;
  left: -16px;
  z-index: 10;
  margin: 0;
  padding: 4px;
  width: 50px;
  height: 50px;
  border: 1px solid #bbbbbb;
  box-shadow: 0 1px 0 #ffffff;
  border-radius: 50%;
  background: #ffffff;
}
#people li h2 {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #4b4b4b;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.7);
}
#people li .info {
  margin: 0;
  display: block;
}
#people li .info em {
  margin: 0 18px 0 0;
  font-size: 11px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #5b5b5b;
  float: left;
}
