{% extends 'base.html.twig' %}


{% block body %}

    <div class="container-fluid">

        <div class="row">

            <div class="text-center">
                <hr size="1" color="#da328a">
                                    <table  style="font-family:Open Sans, Verdana,sans-serif">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <img src="/home/wilder/Bureau/caldex/web/images/logo.png" height="50">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td>
                                                <img moz-do-not-send="false" src="http:/img11.hostingpics.net/pics/122999adresse.png" style="width:13px;height:13px;margin-right:5px"></br>
                                            </td>
                                            <td style=" font-family:Open Sans, Verdana,sans-serif">
                                                52 AV DU REPOS - MULHOUSE</br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img moz-do-not-send="false" src="http://img11.hostingpics.net/pics/261601phone.png" style="width:13px;height:13px;margin-right:5px"></br>
                                            </td>
                                            <td style="font-family:Open Sans, Verdana,sans-serif">
                                                03 88 81 99 99 </br>
                                            </td>
                                        </tr>
                                            <tr>
                                                <td>
                                                    <img moz-do-not-send="false" src="http://img11.hostingpics.net/pics/863867mail.png" style="width:13px;height:13px;margin-right:5px"></br>
                                                </td>
                                                <td style="font-family:Open Sans, Verdana,sans-serif;color:black;text-decoration:none">
                                                    caldex67@gmail.com</br>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img moz-do-not-send="false" src="http://img11.hostingpics.net/pics/417739site.png" style="width:13px;height:13px;margin-right:5px"></br>
                                                </td>
                                                <td>
                                                    <a  href="http://caldex.fr" style="color:#da328a;text-decoration:none">caldex.fr</a></br>
                                                </td>
                                            </tr>
                                        </table>
                                    <hr size="1" color="#0086b1">
                                    <br />

            </div>
        </div>




    </div>
{% endblock %}