{% extends "admin/base_admin.html.twig"%}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/user.css') }}">
    <link rel="stylesheet" href="{{ asset('build/head_admin.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}

{% block body %}

    <input id="listCopro">

    <div class="container-fluid" >
        <div id="showcopro"></div>

    </div>

    <script src="{{ asset('build/ajax.js')}}"></script>
{% endblock %}