{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/entreprise.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script> <!-- Package d'icons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
{% endblock %}

{% block body %}

<div class="container" style="text-align: center">
    <h1>Vous-Êtes?</h1>
        <h2>Syndicat de Copropriété</h2>
            <hr align="center", width="15%">
            <p>Super TEXTE</p>
        <h2>Bailleur Social</h2>
            <hr align="center", width="15%">
            <p>Super TEXTE</p>
        <h2>Propriétaire</h2>
            <hr align="center", width="15%">
            <p>Super TEXTE</p>
        <h2>Locataire</h2>
            <hr align="center", width="15%">
            <p>Super TEXTE</p>
</div>


{% endblock %}