{% extends 'base.html.twig' %}

{% block body %}

<div class="container" style="text-align: center">
    <h1>Vous-Êtes?</h1>
        <h2>Syndicat de Copropriété</h2>
            <hr align="center", width="15%">
            <p>Super TEXTE</p>
        <h2>Bailleur Social</h2>
            <hr align="center", width="15%">
            <p>Super TEXTE</p>
        <h2>Propriétaire</h2>
            <hr align="center", width="15%">
            <p>Super TEXTE</p>
        <h2>Locataire</h2>
            <hr align="center", width="15%">
            <p>Super TEXTE</p>
</div>


{% endblock %}