{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/entreprise.css') }}">
{% endblock %}

{% block body %}

    <section>
        <div class="container-fluid entreprise">
            <h1>Notre histoire</h1>
            <img src="http://via.placeholder.com/300x300" alt="" align="left" class="article">
            <h2>Histoire</h2>
            <hr>
            <p class="article">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ultrices metus. Vivamus et nunc nulla. Pellentesque vehicula ex ac pretium molestie. Etiam tempor imperdiet velit, a finibus mauris cursus ut. Integer volutpat mauris vel leo cursus tempus. Fusce condimentum mollis tellus eget dapibus. Donec arcu ante, imperdiet sit amet pretium dignissim, venenatis sed lectus. Phasellus sed suscipit ante. Donec pretium lacus faucibus, pretium urna non, gravida arcu. Vestibulum egestas urna ac tortor mollis, quis sodales est vulputate. Duis ac arcu felis. Vestibulum varius non odio ac tempor. Donec mattis, urna non egestas rutrum, velit sapien sollicitudin dolor, non commodo lorem neque ac odio. Integer aliquet nibh enim, consequat finibus mi mattis ac.</p>

        </div>
        <div class="container-fluid entreprise">
            <h1>Notre politique</h1>
            <img src="http://via.placeholder.com/300x300" alt="" align="right" class="article">
            <h2>Politique</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ultrices metus. Vivamus et nunc nulla. Pellentesque vehicula ex ac pretium molestie. Etiam tempor imperdiet velit, a finibus mauris cursus ut. Integer volutpat mauris vel leo cursus tempus. Fusce condimentum mollis tellus eget dapibus. Donec arcu ante, imperdiet sit amet pretium dignissim, venenatis sed lectus. Phasellus sed suscipit ante. Donec pretium lacus faucibus, pretium urna non, gravida arcu. Vestibulum egestas urna ac tortor mollis, quis sodales est vulputate. Duis ac arcu felis. Vestibulum varius non odio ac tempor. Donec mattis, urna non egestas rutrum, velit sapien sollicitudin dolor, non commodo lorem neque ac odio. Integer aliquet nibh enim, consequat finibus mi mattis ac.</p>

        </div>

        <div class="container-fluid entreprise">
            <h1>Notre démarche qualité</h1>
            <img src="http://via.placeholder.com/300x300" alt="" align="left" class="article">
            <h2>Démarche qualité</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ultrices metus. Vivamus et nunc nulla. Pellentesque vehicula ex ac pretium molestie. Etiam tempor imperdiet velit, a finibus mauris cursus ut. Integer volutpat mauris vel leo cursus tempus. Fusce condimentum mollis tellus eget dapibus. Donec arcu ante, imperdiet sit amet pretium dignissim, venenatis sed lectus. Phasellus sed suscipit ante. Donec pretium lacus faucibus, pretium urna non, gravida arcu. Vestibulum egestas urna ac tortor mollis, quis sodales est vulputate. Duis ac arcu felis. Vestibulum varius non odio ac tempor. Donec mattis, urna non egestas rutrum, velit sapien sollicitudin dolor, non commodo lorem neque ac odio. Integer aliquet nibh enim, consequat finibus mi mattis ac.</p>
        </div>
    </section>

{% endblock %}
{% block javascripts %}

{% endblock %}